/* tag, calls , id */

#myContainer{
    border: solid #42DCA3 1px;
    visibility: hidden;
}

#myContainerTwo{
    border: solid #42DCA3 1px;
}


/*_____Buttons_____*/
#videoLoader{display:none;}
#uploadSound{display: none;}
#openLoadVideo{display: none;}
#openLoadSound{display: block;}
#next{display: none;}
#vidRec{display: none;}
#reTake{display: none;}
#plyAll{display: none;}
#share{display: none;}
#countdowntimer{display: none;}
#reDoBtn{display: none;}
#save{display: none;}
#download{display: none;}
